In [ ]:
import pandas as pd
import numpy as np
data = np.array (['p','y','t','h','o','n'])
pd.Series(data)

0    p
1    y
2    t
3    h
4    o
5    n
dtype: object

In [ ]:
print(type(data))

<class 'numpy.ndarray'>

In [ ]:
# import pandas as pd 
import pandas as pd  
      
# List1  
lst = [['Geek', 25], ['is', 30], 
       ['for', 26], ['Geeksforgeeks', 22]] 
  
# creating df object with columns specified    
df = pd.DataFrame(lst, columns =['Tag', 'number']) 
print(df )

             Tag  number
0           Geek      25
1             is      30
2            for      26
3  Geeksforgeeks      22

In [ ]:
import pandas as pd  
lst = [['smita', 25], ['Ana', 30], 
       ['skha', 26]]

df = pd.DataFrame(lst, columns =['name', 'random']) 
print(df )

    name  random
0  smita      25
1    Ana      30
2   skha      26

In [ ]:
import pandas as pd

dic1={"Name":["Sateesh","Pavan","Sai kumar"],"Age":[19,18,20]}

df=pd.DataFrame(dic1)

print(df)

        Name  Age
0    Sateesh   19
1      Pavan   18
2  Sai kumar   20

In [7]:
import pandas as pd
df = pd.DataFrame({'X':[78,85,96,80,86], 'Y':[84,94,89,83,86],'Z':[86,97,96,72,83]});
print(df)

    X   Y   Z
0  78  84  86
1  85  94  97
2  96  89  96
3  80  83  72
4  86  86  83

In [8]:
from pandas.core.frame import DataFrame
import pandas as pd
import numpy as np

exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

data = DataFrame(exam_data, index = labels)
print(data)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

In [9]:
print(data.iloc[:3])

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes

In [12]:
print(data.dtypes)

name         object
score       float64
attempts      int64
qualify      object
dtype: object

In [13]:
#for printing last lines 
data.tail()

      name  score  attempts qualify
f  Michael   20.0         3     yes
g  Matthew   14.5         1     yes
h    Laura    NaN         1      no
i    Kevin    8.0         2      no
j    Jonas   19.0         1     yes

In [15]:
#printing particular columns from given dataframe
print(data[['name', 'score']])

        name  score
a  Anastasia   12.5
b       Dima    9.0
c  Katherine   16.5
d      James    NaN
e      Emily    9.0
f    Michael   20.0
g    Matthew   14.5
h      Laura    NaN
i      Kevin    8.0
j      Jonas   19.0

In [18]:
print(data.shape)

(10, 4)

In [20]:
print((data.axes[0]))

Index(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'], dtype='object')

In [16]:
#attempts in the examination is greater than 2
print(data[data['attempts'] > 2])

      name  score  attempts qualify
b     Dima    9.0         3      no
d    James    NaN         3      no
f  Michael   20.0         3     yes